/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 0 30px;
}

.navbar-logo img {
    /* Adjust the size of your logo */
    height: 60px; 
    cursor: pointer;
}

.navbar-menu-icon {
    display: none; /* Initially hide the menu icon */
    cursor: pointer;
}

.navbar-menu-icon span {
    font-size: 24px; /* Adjust the size of the menu icon */
}

.navbar-drawer {
    display: flex;
    gap: 50px; /* Spacing between navigation links */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-drawer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-cart img {
    height: 40px; /* Adjust the size of your cart icon */
    cursor: pointer;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 899px) {
    .navbar-drawer {
        display: none; /* Hide links on smaller screens */
        
    }

    .navbar-menu-icon {
        display: block; /* Show the menu icon */
    }
}

