@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Futura&display=swap');

.footer {
    background-color: #000; /* Changed to black */
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Futura', sans-serif;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #ccc;
}

.footer-rights {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer .email-input-container {
    display: flex;
    align-items: center;
    background-color: #000; /* Matching background */
    border: 1px solid white; /* Thin white border */
    border-radius: 0; /* No border radius */
    padding-left: 10px;
    transition: border-color 0.3s ease, border-width 0.3s ease; /* Smooth transition for border changes */
}

.footer .email-input-container .email-icon {
    fill: white; /* White color for the email icon */
}

.footer input[type="email"] {
    flex-grow: 1;
    background-color: transparent;
    border: none; /* Remove border */
    color: white;
    padding: 10px;
    outline: none; /* Remove outline on focus */
}

.footer .email-input-container:focus-within {
    border-color: #fff; /* Brighter and thicker border when input is focused */
    border-width: 2px; /* Thicker border */
}

.footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.0s ease;
}

.footer button:hover {
    background-color: #ddd;
}

/* Responsive adjustments */
@media (max-width: 940px) {
    .footer {
        justify-content: center;
        text-align: center;
    }

    .footer-section {
        flex-basis: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-section h4 {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .footer-rights {
        margin-top: 10px;
    }
}
