@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Futura&display=swap');

.footer, .footer-mobile {
    background-color: #000; /* Changed to black */
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}


.footer-mobile {
    display: none;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
    position: relative; /* For the after pseudo-element */
}

.footer-section:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #333; /* Lighter/Darker line color */
}


.footer-section h3 {
    margin-bottom: 15px;
    font-weight: 700;
    cursor: pointer; /* Indicates it's clickable */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3s ease; /* Smooth transition for the icon */
}

.footer-section a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #928d8d;
}

.footer-section p {
    color: #fff;
    font-size: 16px;
    max-width: 350px;
    margin: 0px;
    /* text-decoration: none; */
    /* display: block; */
    margin-bottom: 10px;
    /* transition: color 0.3s ease; */
}

.footer-rights {
    width: 100%;
    text-align: center;
    color: #ccc;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-rights p {
    margin-bottom: 0px;
    margin-bottom: -20px;
    font-size: 15px;
}



.footer .email-input-container , .footer-mobile .email-input-container {
    display: flex;
    max-width: 250px;
    align-items: center;
    background-color: #000; /* Matching background */
    border: 1px solid white; /* Thin white border */
    padding-left: 10px;
}



.footer input , .footer-mobile input[type="email"] {
    flex-grow: 1;
    background-color: transparent;
    border: none; /* Remove border */
    color: white;
    padding: 10px;
    outline: none; /* Remove outline on focus */
}

.footer .email-input-container , .footer-mobile .email-input-container:focus-within {
    border-color: #fff; /* Brighter and thicker border when input is focused */
    border-width: 2px;
}

.email-icon {
    min-width: 24px;
    color: #fff;
    cursor: pointer;
}


@media (max-width: 600px) {
    .footer {
        display: none;
    }

    .footer-mobile {
        display: block;
    }

    .footer-section div {
        margin-top: 0; /* Adjust as needed for spacing */
        overflow: hidden; /* Keeps the content from showing outside the bounds */
        transition: max-height 0.3s ease-out; /* Smooth expansion */
    }
    .icon {
         transition: transform 0.5s ease; /* Smooth transition for rotation */
    }
  
    .icon.rotate {
        transform: rotate(180deg); /* Rotates the icon to indicate "up" */
    }
  
  
        
}
